//- arquivo com configurações padrões do template

- var PageTitle = "thierry rene - front end web developer"
- var MetaDesc  = "desenvolvedor web, pai, devoro conteúdos da área, traduzo artigo para o Tuts+, compartilho o que aprendo, entusiasta em qualquer coisa digital e cabeça dura."
- var MetaAuthor = "thierry rene - desenvolvedor front end - sp - sp, brasil - 2009 / 2016"

- var GoogleFonts = "Open+Sans|Quicksand"

- var jQuery = false

- var ContainerClasses = ['animated fadeIn']

