@charset 'UTF-8';
// imports
@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// local imports
@import '../../bower_components/google-material-color/dist/palette.scss';
// text colors variables
$text-white: palette(White);
$text-black: palette(Black);

// bg colors variables
$bg-dark: palette(Blue Grey, 500);
$bg-light: palette(Grey, 50);

// content styles
*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 140px;
	background-color: $bg-dark;
	color: $text-white;
}

header {
	& img {
		$img-width-height: 300px;
		margin: 0 auto;
		max-width: $img-width-height;
		max-height: $img-width-height;
	}
}

a {
	text-decoration: none;
}

// bootstrap modifications

@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    transition: padding 0.3s;
    .navbar-brand {
      font-size: 2em;
      transition: all 0.3s;
    }
    &.navbar-shrink {
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  a:focus {
    outline: none;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: none;
    }
  }
}

.navbar-default, .navbar-inverse {
  border: none;
}
