@charset 'UTF-8';

// imports
// @import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-compass.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '../../bower_components/google-material-color/dist/palette.scss';

@import '../../bower_components/animate-sass/_animate.scss';

//colors
$color-black: palette(Black);
$color-white: palette(White);
$color-grey: palette(Grey, 200);

// text colors variables
$text-white: palette(White);
$text-black: palette(Black);

// link colors
$link-default-color: palette(Grey, 800);
$link-default-color-hover: palette(Grey, 900);

// bg colors variables
$bg-dark: palette(Blue Grey,500);
$bg-light: palette(Grey,50);

// section paddings
$default-section-padding: 25px 0px;

// content styles
*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 140px;
	background-color: $bg-light;
	color: $text-black;
	text-transform: capitalize;
	
	& h1, h2, h3, h4, h5, h6 {
		font-family: 'Quicksand', sans-serif;
		text-transform: uppercase;
	}
	
	& svg:not(:root) {
    padding: 20px 20px 20px 0px;
	}
	
	&	hr {
		border: 1px solid $color-black;
	}
	
	& header {
		
		& img {
			$img-width-height: 300px;
			max-width: $img-width-height;
			max-height: $img-width-height;
			margin: 0 auto;
		}
		
		& .intro {
			padding: $default-section-padding;
		}
		
		// & .header-title, .header-subtitle {
		// }
		
	}
	
	& section {
		
		& article {
			line-height: 28px;
		}
		
	}
	
	& a {
		color: $link-default-color;
		text-decoration: none;
		&:hover {
			color: $link-default-color-hover;
		}
	}
}


.section {
	margin: 40px 0px;
	padding: 30px 0px;
	// &:nth-child(0) {
	// 	background-color: crimson;
	// }
	// &:nth-child(1) {
	//   background-color: blue;
	// }
	
	&-two {
		background-color: lightgray;
	}
	
}

.footer {
	&-info {
		background-color: lightgray;
		padding: 25px 0px;
	}
	&-copy {
		background-color: grey;
		padding: 25px 0px;
	}
}

// bootstrap modifications
@media (min-width: 768px) {
	.navbar-fixed-top {
		padding: $default-section-padding;
		transition: padding 0.3s;
		.navbar-brand {
			font-size: 2em;
			transition: all 0.3s;
		}
		&.navbar-shrink {
			padding: 10px 0;
			.navbar-brand {
				font-size: 1.5em;
			}
		}
	}
}

.navbar {
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
	background-color: $bg-light;
	border-bottom: solid 2px $color-grey;
	a:focus {
		outline: none;
	}
	.navbar-nav {
		letter-spacing: 1px;
		li a:focus {
			outline: none;
		}
	}
}

.navbar-default,
.navbar-inverse {
	border: none;
}

.nav-tabs {
	border: none;
	& li> a {
		border-radius: 8px;
		transition: all .5s;
		&:hover {
			border-color: #E0E0E0;
			background-color: transparent;
		}
	}
}
